	<html>
	<head>
	  <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">	  
		<link rel="stylesheet" type="text/css" href="../assets/styles/style.css" />
	  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
		<script type="text/javascript"></script>
		<title>Justin Ewalt</title>
	</head>
	<body>
	  <div id="app">
	  </div>
		<script src="https://fb.me/react-0.14.8.js"></script>
		<script src="https://fb.me/react-dom-0.14.8.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
		<script type='text/babel'>

		  class Home extends React.Component {
		    constructor(props) {
		      super(props);
		      this.state = {active: null };
		      this.child = this.child.bind(this);
		      this.clickedButton = this.clickedButton.bind(this);
		    }

		    clickedButton(value) {
		  		this.setState({active: value});
		    }


		    child() {
		    	switch (this.state.active) {
		    	  case 'Experience':
		    	    return(<Experience />)
		    	  case 'Tools':
		    	  	return(<Tools />)
		    	  case 'Contact':
		    	  	return(<Contact />)
		    	  case 'About':
		    	  	return(<About />)
		    	}
		    }

		    render() {
		       return(
		        <div>
		          <h1>Justin Ewalt</h1>
		          <button onClick={() => this.clickedButton('Experience')} className="topic-buttons" name="button" title="Experience">Experience</button>
		          <button onClick={() => this.clickedButton('Tools')} className="topic-buttons" name="button" title="Tools">Tools</button>
		          <button onClick={() => this.clickedButton('Contact')} className="topic-buttons" name="button" title="Contact">Contact</button>
		          <button onClick={() => this.clickedButton('About')} className="topic-buttons" name="button" title="About">About</button>
		          {this.child()}
		        </div>
		      );
		    }
		  }

		  class About extends React.Component {
		    constructor(props) {
		      super(props);
		    }

		    render() {
		      return(
		      	<div>
		      		<h3>About</h3>
		      	</div>
		      )
		    }
		  }

		  class Experience extends React.Component {
		  	constructor(props) {
		  		super(props);
		  	}

		  	render() {
		  		return(
		  			<div>
		  				<h3>Experience</h3>
		  				<br />
		  				<p>Please check my Linkedin page for my experience, or contact me with questions.</p>
		  				<p>Thanks!</p>
		  				<div>
		  					<ul>
		  						<a href="https://www.linkedin.com/in/justinewalt" target="_blank"><li>Linkedin</li></a>
		  					</ul>
		  				</div>
		  			</div>
		  		)
		  	}
		  }

		  class Tools extends React.Component {
		  	constructor(props) {
		  		super(props);
		  	}

		  	render() {
		  		return(
		  			<div>
		  				<h3>Weapons of Choice</h3>
		  				<br />
		  				<ul>
		  					<li>JavaScript</li>
		  					<li>ReactJS</li>
		  					<li>Ruby on Rails</li>
		  					<li>HTML5</li>
		  					<li>CSS 3</li>
		  					<li>GIT</li>
		  					<li>PostgreSQL</li>
		  					<li>JQuery</li>
		  					<li>AJAX</li>
		  					<li>ES2015</li>
		  				</ul>
		  			</div>
		  		)
		  	}
		  }

		  class Contact extends React.Component {
		  	constructor(props) {
		  		super(props);
		  	}

		  	render() {
		  		return(
		  			<div>
		  				<h3>Contact</h3>
		  				<br />
		  				<p>
		  				</p>
	  					<ul>
	  						<li>Phone: 801-989-2769</li>
	  						<li>Email: justinewalt@gmail.com</li>
	  					</ul>
		  			</div>
		  		)
		  	}
		  }

		  ReactDOM.render(<Home />, document.getElementById('app'));
		</script>
	</body>
</html>